<ion-content>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div style="height: 40%;" *ngIf="logo">
    <img class="graphic" src="../../assets/icon/4ir.png" alt="" srcset="">
    <img style="width: 80%; margin: 15% auto; display: flex;" src="../../assets/imgs/DoH-Logo.jpg">
  </div>
  <div padding style="position: relative; top: 0%;">
    <h1>Sign-in</h1>
    <form [formGroup]="userForm" (ngSubmit)="getEmail()">
      <ion-item>
        <ion-label>
          <i class="fa fa-envelope icon"></i>
        </ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email" (ionFocus)='onInput($event)'
          (ionBlur)='noInput($event)'></ion-input>
      </ion-item>
      <div class="field-error" *ngIf="_isInvalidControl('email')">
        <p>Please provide correct email address</p>
      </div>
      <ion-item>
        <ion-label>
          <i class="fa fa-lock icon"></i>
        </ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"
          (ionFocus)='onInput($event)' (ionBlur)='noInput($event)'></ion-input>
      </ion-item>
      <div class="field-error" *ngIf="_isInvalidControl('password')">
        <p>Please provide correct password</p>
      </div>
      <br>
      <br>
      <button ion-button block type="submit"  color="btn">Sign in</button>
      <button (click)="signup()" ion-button clear block>You haven't Registered? &nbsp; <b>Sign up</b> </button>
    </form>
  </div>
  <div>
    <img class="bottomimg" *ngIf="lowdesign" src="../../assets/icon/New Project.svg" alt="" srcset="">
  </div>
</ion-content>